---

---

<div class="content-preview border-x border-b rounded-b-md overflow-hidden">
  <slot />
</div>

<style is:global>
  .content-preview .code-block {
    border: none;
    margin: 0;
    border-radius: 0;
  }
</style>
